<app-header></app-header>


<div style="margin-top: 80px;">

    <div class="d-flex flex-column justify-content-center align-items-center">

        <a routerLink="" class="btn btn-primary">Back to home</a>
        <div class="row border shadow p-5 mt-4">

            <div class="col-lg-6">
                <img class="img-fluid"
                    src="https://banner2.cleanpng.com/20180426/lwq/kisspng-computer-icons-login-management-user-5ae155f3386149.6695613615247170432309.jpg"
                    alt="no image">
            </div>
            <div class="col-lg-6 bg-primary">

                <div style="height: 100%;" class="d-flex flex-column align-items-center">

                    <h3 class="fw-bolder">Welcome User</h3>

                    <form [formGroup]="registerForm" class="mt-5" (ngSubmit)="register()">

                        <!-- username -->
                        <div class="mb-3">

                            <input type="text" placeholder="username" class="form-control" formControlName="username">

                        </div>

                        <!-- error div -->
                        <div *ngIf="this.registerForm.get('username')?.errors && this.registerForm.get('username')?.touched"
                            class="text-danger mb-3">Invalid username</div>


                        <!-- email -->

                        <div class="mb-3">

                            <input type="text" placeholder="Email id please !!!!" class="form-control"
                                formControlName="email">

                        </div>
                        <!-- error div -->
                        <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched"
                            class="text-danger mb-3">Invalid email</div>

                        <!-- password -->

                        <div class="mb-3">

                            <input type="password" placeholder="Enter your password" class="form-control"
                                formControlName="password">

                        </div>
                        <!-- error div -->
                        <div *ngIf="this.registerForm.get('password')?.errors && this.registerForm.get('password')?.touched"
                            class="text-danger mb-3">Invalid password</div>

                        <input type="submit" class="btn btn-light mt-3 mb-4" value="Register">




                    </form>

                    <p>Already an user <a class="text-light" routerLink="/user/login">Login</a>
                    </p>

                </div>


            </div>

        </div>


    </div>

</div>