<div class="md:flex justify-between gap-2 w-full max-md:space-y-2">
    <div class="rounded-md bg-violet-50 w-full p-3">
        <h4 class="pb-2">Total Income</h4>
        <div class="flex justify-between">
            <p class="text-3xl font-semibold">$278,96</p>
            <div class="flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" color="#82d22a"
                    fill="none">
                    <path d="M20 13V8H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M20 8L15 13C14.1174 13.8826 13.6762 14.3238 13.1346 14.3726C13.045 14.3807 12.955 14.3807 12.8654 14.3726C12.3238 14.3238 11.8826 13.8826 11 13C10.1174 12.1174 9.67615 11.6762 9.13457 11.6274C9.04504 11.6193 8.95496 11.6193 8.86543 11.6274C8.32385 11.6762 7.88256 12.1174 7 13L4 16"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="text-lime-600 pt-1">+10 %</p>
            </div>
        </div>
    </div>

    <div class="rounded-md bg-pink-50 w-full p-3">
        <h4 class="pb-2">Total Orders</h4>
        <div class="flex justify-between">
            <p class="text-3xl font-semibold">1896</p>
            <div class="flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" color="#82d22a"
                    fill="none">
                    <path d="M20 13V8H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M20 8L15 13C14.1174 13.8826 13.6762 14.3238 13.1346 14.3726C13.045 14.3807 12.955 14.3807 12.8654 14.3726C12.3238 14.3238 11.8826 13.8826 11 13C10.1174 12.1174 9.67615 11.6762 9.13457 11.6274C9.04504 11.6193 8.95496 11.6193 8.86543 11.6274C8.32385 11.6762 7.88256 12.1174 7 13L4 16"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="text-lime-600 pt-1">+7.01 %</p>
            </div>
        </div>
    </div>

    <div class="rounded-md bg-yellow-50 w-full p-3">
        <h4 class="pb-2">Total Customers</h4>
        <div class="flex justify-between">
            <p class="text-3xl font-semibold">1496</p>
            <div class="flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" color="#fb0404"
                fill="none">
                <path d="M20 11V16H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M20 16L15 11C14.1174 10.1174 13.6762 9.67615 13.1346 9.62737C13.045 9.6193 12.955 9.6193 12.8654 9.62737C12.3238 9.67615 11.8826 10.1174 11 11C10.1174 11.8826 9.67615 12.3238 9.13457 12.3726C9.04504 12.3807 8.95496 12.3807 8.86543 12.3726C8.32385 12.3238 7.88256 11.8826 7 11L4 8"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
                <p class="text-red-600 pt-1">- 4.9 %</p>
            </div>
        </div>
    </div>

    <div class="rounded-md bg-sky-50 w-full p-3">
        <h4 class="pb-2">Total Products</h4>
        <div class="flex justify-between">
            <p class="text-3xl font-semibold">4752</p>
            <div class="flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" color="#82d22a"
                    fill="none">
                    <path d="M20 13V8H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M20 8L15 13C14.1174 13.8826 13.6762 14.3238 13.1346 14.3726C13.045 14.3807 12.955 14.3807 12.8654 14.3726C12.3238 14.3238 11.8826 13.8826 11 13C10.1174 12.1174 9.67615 11.6762 9.13457 11.6274C9.04504 11.6193 8.95496 11.6193 8.86543 11.6274C8.32385 11.6762 7.88256 12.1174 7 13L4 16"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="text-lime-600 pt-1">+1.59 %</p>
            </div>
        </div>
    </div>

</div>


<div class="mt-5 md:flex justify-between gap-4">
    <div class="border border-gray-100 rounded-md w-fit p-2"><app-pie-chart></app-pie-chart></div>
    
    <div class="border border-gray-100 rounded-md w-full max-md:mt-5">
        <div class="flex justify-between">
            <h3 class="px-3 py-2 text-xl font-bold">Top selling products</h3>
            <div class="p-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" color="#000000" fill="none">
                    <path d="M21 12C21 11.1716 20.3284 10.5 19.5 10.5C18.6716 10.5 18 11.1716 18 12C18 12.8284 18.6716 13.5 19.5 13.5C20.3284 13.5 21 12.8284 21 12Z" stroke="currentColor" stroke-width="1.5" />
                    <path d="M13.5 12C13.5 11.1716 12.8284 10.5 12 10.5C11.1716 10.5 10.5 11.1716 10.5 12C10.5 12.8284 11.1716 13.5 12 13.5C12.8284 13.5 13.5 12.8284 13.5 12Z" stroke="currentColor" stroke-width="1.5" />
                    <path d="M6 12C6 11.1716 5.32843 10.5 4.5 10.5C3.67157 10.5 3 11.1716 3 12C3 12.8284 3.67157 13.5 4.5 13.5C5.32843 13.5 6 12.8284 6 12Z" stroke="currentColor" stroke-width="1.5" />
                </svg>
            </div>
        </div>

        <div *ngFor="let product of topProducts.slice(0,4)" class="w-full flex justify-between items-center px-4 py-2">
            <div class="flex items-center gap-3">
                <img class="rounded-md" [src]="product.img1" width="60" height="60" alt="">
                <div>
                    <p class="font-semibold">{{product.name}}</p>
                    <p class="font-light">{{product.category}}</p>
                </div>
            </div>
            <p class="font-semibold">${{product.price}}</p>
        </div>

    </div>
</div>

<div class="relative overflow-x-auto border border-gray-100 rounded-md px-3 mt-4">
    <h3 class=" py-3 text-xl font-bold">Recent Orders</h3>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Order Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Order Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Product Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Details
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let product of topProducts.slice(-5)">
            <tr
                class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4 font-semibold text-gray-900">
                    {{product._id.slice(0,7)}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    08/05/2024
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    {{product.name}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    {{product.category}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    01
                </td>
                <td class="px-6 py-4 font-semibold"
                    [ngClass]="{'text-green-600': product.stock === 'In Stock', 'text-red-600': product.stock === 'Stock Out'}">
                    {{product.stock}}
                </td>
                <td class="px-6 py-4 text-green-600 hover:cursor-pointer">
                    View
                </td>
            </tr>
        </tbody>
    </table>
</div>