<div class="font-[sans-serif] bg-white p-4">
    <div class="lg:max-w-7xl max-w-xl mx-auto md:px-20 md:py-10">
        <div class="lg:col-span-2 max-lg:order-1">
            <div class="flex items-start">
                <div class="w-full">
                    <div class="flex items-center w-full">
                        <div
                            class="w-8 h-8 shrink-0 mx-[-1px] bg-[#333] p-1.5 flex items-center justify-center rounded-full">
                            <span class="text-base text-white font-bold">1</span>
                        </div>
                        <div class="w-full h-[3px] mx-4 rounded-lg bg-gray-300"></div>
                    </div>
                    <div class="mt-2 mr-4">
                        <h6 class="text-base font-bold text-[#333]">Shipping</h6>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex items-center w-full">
                        <div
                            class="w-8 h-8 shrink-0 mx-[-1px] bg-gray-300 p-1.5 flex items-center justify-center rounded-full">
                            <span class="text-base text-white font-bold">2</span>
                        </div>
                        <div class="w-full h-[3px] mx-4 rounded-lg bg-gray-300"></div>
                    </div>
                    <div class="mt-2 mr-4">
                        <h6 class="text-base font-bold text-gray-300">Billing</h6>
                    </div>
                </div>
                <div>
                    <div class="flex items-center">
                        <div
                            class="w-8 h-8 shrink-0 mx-[-1px] bg-gray-300 p-1.5 flex items-center justify-center rounded-full">
                            <span class="text-base text-white font-bold">3</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h6 class="text-base font-bold text-gray-400">Confirm</h6>
                    </div>
                </div>
            </div>

                <div class="w-full max-md:mt-10 md:px-36 md:py-10">
                    <form>
                        <div>
                            <h2 class="text-2xl font-extrabold text-[#333]">Shipping info</h2>
                            <div class="grid grid-cols-2 gap-6 mt-8">
                                <input type="text" placeholder="Full name"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="text" placeholder="Mobile number"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="email" placeholder="Email address"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="text" placeholder="Flat, House no, Building, Company"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="text" placeholder="Street address"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="text" placeholder="City"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="text" placeholder="State"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                                <input type="number" placeholder="Postal code"
                                    class="px-2 py-3.5 bg-white text-[#333] w-full text-sm border-b-2 focus:border-[#333] outline-none" />
                            </div>
                        </div>
                        <div class="flex justify-center flex-wrap gap-4 mt-8">
                            <button routerLink="/cart" type="button"
                                class="min-w-[150px] px-6 py-3.5 text-sm bg-gray-100 text-[#333] rounded-md hover:bg-gray-200">Back</button>
                            <button routerLink="/checkout-billing" type="button"
                                class="min-w-[150px] px-6 py-3.5 text-sm bg-[#333] text-white rounded-md hover:bg-[#111]">Next</button>
                        </div>
                    </form>
                </div>

        </div>
    </div>
</div>