
<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64">
        <section class="bg-white">
            <div class="py-3 mx-auto max-w-2xl lg:py-16">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 text-center">Add a new product</h2>

                <form (ngSubmit)="addProduct(productForm.value)" #productForm="ngForm">
                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

                        <div class="w-full">
                            <label for="id"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Id</label>
                            <input type="text" name="id" id="id" [(ngModel)]="productData.id"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product name" required="">
                        </div>

                        <div class="w-full">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Name</label>
                            <input type="text" name="name" id="name" [(ngModel)]="productData.name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product name" required="">
                        </div>

                        <div class="w-full">
                            <label for="price"
                                class="block mb-2 text-sm font-medium text-gray-900">Price</label>
                            <input type="number" name="price" id="price" [(ngModel)]="productData.price"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product price" required="">
                        </div>

                        <div>
                            <label for="category"
                                class="block mb-2 text-sm font-medium text-gray-900">Category</label>
                            <select id="category" name="category" [(ngModel)]="productData.category" placeholder="Select category"    
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                <option value="Mens">Mens</option>
                                <option value="Womens">Womens</option>
                                <option value="Kids">Kids</option>
                            </select>
                        </div>

                        <div>
                            <label for="type"
                                class="block mb-2 text-sm font-medium text-gray-900 ">Type</label>
                            <select id="type" name="type" [(ngModel)]="productData.type"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                <option value="Clothing">Clothing</option>
                                <option value="Shoes">Shoes</option>
                                <option value="Accessories">Accessories</option>
                            </select>
                        </div>

                        <div>
                            <label for="stock"
                                class="block mb-2 text-sm font-medium text-gray-900">Stock</label>
                            <select id="stock" name="stock" [(ngModel)]="productData.stock"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                <option value="In Stock">In Stock</option>
                                <option value="Stock Out">Stock Out</option>
                            </select>
                        </div>

                        <div class="w-full">
                            <label for="img1"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Image 1</label>
                            <input type="text" name="img1" id="img1" [(ngModel)]="productData.img1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product image url" required="">
                        </div>

                        <div class="w-full">
                            <label for="img2"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Image 2</label>
                            <input type="text" name="img2" id="img2" [(ngModel)]="productData.img2"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product image url" required="">
                        </div>

                        <div class="w-full">
                            <label for="img3"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Image 3</label>
                            <input type="text" name="img3" id="img3" [(ngModel)]="productData.img3"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product image url" required="">
                        </div>

                        <div class="w-full">
                            <label for="img4"
                                class="block mb-2 text-sm font-medium text-gray-900">Product
                                Image 4</label>
                            <input type="text" name="img4" id="img4" [(ngModel)]="productData.img4"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product image url" required="">
                        </div>

                        <div class="sm:col-span-2">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                            <textarea id="description" rows="8" name="description" [(ngModel)]="productData.description"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
                                placeholder="Product description here"></textarea>
                        </div>
                    </div>

                    <button type="submit"
                        class="w-full px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-slate-100">
                        Add product
                    </button>
                </form>
            </div>
        </section>
</div>
<lib-toastify-toast-container [position]="'top-right'" [iconLibrary]="'font-awesome'" [autoClose]="3000" ></lib-toastify-toast-container>